:root {
  --x: 50%;
  --y: 50%;
}

.content-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box__title {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 80px;
  display: block;
}
.box__box-button {
  display: flex;
  gap: 30px;
  max-width: 300px;
  width: 100%;
}
.box__button {
  padding: 10px 50px;
  border-radius: 50px;
  color: black;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 50px;
}
.box__button--agree {
  background-color: #1ed760;
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translateY(10%);
}
.box__button--disagree {
  cursor: pointer;
  background-color: #f71d08;
}
.img {
  display: none;
}

.qwerty {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
